.bgArea {
  background: url("/img/faq_bg.png");
}

.content h1 {
  padding-bottom: 40px;
}
.content details {
  padding: 24px 0 24px 100px;
  font-size: 1.1rem;
  font-weight: 900;
}
.content details summary {
  cursor: default;
  list-style: none;
}
.content details p {
  line-height: 1.6rem;
  border-top: 1px solid #777;
  border-bottom: 1px solid #777;
  font-size: 0.98rem;
  padding: 24px;
  color: #777;
  margin-top: 24px;
  font-weight: 500;
}
.content details p b {
  display: block;
  font-weight: 900;
  color: #666;
  padding-bottom: 20px;
}
.content details.active summary {
  color: #0066ff;
}