@charset "UTF-8";
.bgArea {
  background: url("/img/green_bg.png");
}
.bgArea .text {
  top: 65% !important;
}

.content > section {
  text-align: center;
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.content > section h1 {
  line-height: 4rem;
}
.content > section h1 span {
  color: #0066ff;
}
.content > section h5,
.content > section h6,
.content > section p {
  line-height: 1.4rem;
}
.content > section img {
  display: block;
  margin: 0 auto;
  padding-top: 80px;
}
.content > section img + h3 {
  padding-top: 30px;
  font-weight: 300;
}
.content > section img + h3 b {
  font-weight: 900;
}
.content > section .miniTitle {
  color: #0066ff;
  font-weight: 600;
  letter-spacing: 1.6px;
}
.content > section:nth-child(3) {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  transition: all 0.5s ease-in-out;
}
.content > section:nth-child(3) > article {
  width: 460px;
  border-radius: 30px;
  overflow: hidden;
  text-align: start;
  transition: display 0.8s ease;
}
.content > section:nth-child(3) > article .imgBox {
  height: 400px;
  margin: 0 auto;
  background-size: cover;
}
.content > section:nth-child(3) > article .textBox {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  background-color: #fff;
  line-height: 1.6rem;
}
.content > section:nth-child(3) > article .textBox h3 {
  padding: 20px 0;
}
.content > section:nth-child(3) > article .textBox h5 {
  height: 80px;
}
.content > section:nth-child(3) > article .textBox .explore {
  padding: 10px;
}
.content > section:nth-child(3) > article .textBox .explore:after {
  content: "→";
}
.content > section:nth-child(3) > article:first-child .imgBox {
  background-image: url("/img/green_section_img01.jpg");
}
.content > section:nth-child(3) > article:nth-child(2) .imgBox {
  background-image: url("/img/green_section_img02.jpg");
}
.content > section:nth-child(3) > article:last-child .imgBox {
  background-image: url("/img/green_section_img03.jpg");
}
.content .bgBox {
  text-align: center;
  background: url("/img/green_bg_02.png") center top/cover;
  background-repeat: no-repeat;
  height: auto;
  padding: 120px 0 360px 0;
  box-sizing: border-box;
  margin: 100px 0;
  transition: all 0.4s ease-in-out;
}
.content .bgBox h6 {
  margin-bottom: 40px;
  font-weight: 600;
  letter-spacing: 1.6px;
}
.content .bgBox h6,
.content .bgBox h1 span {
  color: #247c17;
}
.content .bgBox.two {
  background-repeat: no-repeat;
  background: url("/img/green_bg_03.png");
}
.content .bgBox.two h6,
.content .bgBox.two h1 span {
  color: #0066ff;
}
.content .bgBox ~ article {
  width: 100%;
  display: flex;
  padding: 100px 0;
}
.content .bgBox ~ article .textWrap {
  position: relative;
  width: 600px;
  padding: 0 80px;
}
.content .bgBox ~ article .textWrap h2 {
  padding-top: 30px;
  line-height: 3.6rem;
  font-weight: 900;
}
.content .bgBox ~ article .textWrap div {
  height: 3px;
  background-color: #247c17;
}
.content .bgBox ~ article .textWrap div + p {
  line-height: 2rem;
  font-size: 1.4rem;
  padding: 30px 0;
}
.content .bgBox ~ article .textWrap div + p b {
  font-weight: 900;
}
.content .bgBox ~ article .textWrap button {
  position: absolute;
  bottom: 0;
  width: calc(100% - 160px);
  height: 50px;
  font-weight: 600;
  border: 2px solid #000;
}
.content .bgBox ~ article .textWrap button:hover a {
  border-bottom: 2px solid #333;
}
.content .bgBox ~ article .bg {
  overflow: hidden;
}
.content .two ~ article .textWrap div {
  background-color: #0066ff;
}

@media screen and (max-width: 1600px) {
  .content .slide {
    padding-left: 200px !important;
  }
  .content section:nth-child(3) {
    padding: 60px;
  }
}
@media screen and (max-width: 1200px) {
  .content .slide {
    padding-left: 0px !important;
  }
  .content .slide .textWrap > p {
    width: 440px !important;
  }
  .content section:nth-child(3) {
    gap: 15px;
    padding: 100px 40px;
  }
  .content .bgBox ~ article .textWrap {
    padding: 0 30px;
  }
  .content .bgBox ~ article .textWrap button {
    width: calc(100% - 60px);
  }
}
@media screen and (max-width: 1000px) {
  .pageMark {
    display: none;
  }
  .content {
    padding: 0 !important;
  }
  .content section:nth-child(3) {
    flex-direction: column;
  }
  .content section:nth-child(3) article {
    width: 100%;
  }
  .content section:nth-child(3) article .explore {
    text-align: end;
  }
  .content .bgBox {
    padding: 80px 0 300px 0;
  }
  .content .bgBox h6 {
    margin-bottom: 20px;
  }
  .content .bgBox ~ article {
    display: block;
    position: relative;
  }
  .content .bgBox ~ article .bg {
    margin-bottom: 300px;
  }
  .content .bgBox ~ article .textWrap {
    width: 100%;
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
  }
  .content .bgBox ~ article .textWrap h2,
  .content .bgBox ~ article .textWrap p {
    padding-bottom: 0;
    font-size: 1.1rem !important;
    line-height: 1.2rem !important;
  }
}