@charset "UTF-8";
body .container .wrap header {
  z-index: 3;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 180px;
  box-sizing: border-box;
  transition: all 0.8s ease;
}
body .container .wrap header .logo img {
  cursor: pointer;
  width: 200px;
}
body .container .wrap header .menu img {
  cursor: pointer;
  width: 30px;
}
body .container .wrap ul.scrollView > li {
  padding: 150px 0;
  height: 100vh;
  color: #fff;
  text-align: center;
  position: relative;
}
body .container .wrap ul.scrollView > li .text {
  padding-top: 20px;
  line-height: 2rem;
  opacity: 0;
  transition: opacity 0.5s ease;
  margin-bottom: 30px;
}
body .container .wrap ul.scrollView > li .text p {
  letter-spacing: 2px;
  font-size: 1.6rem;
  font-weight: 700;
}
body .container .wrap ul.scrollView > li .text.active {
  opacity: 1;
}
body .container .wrap ul.scrollView > li .bigText {
  width: 100%;
  position: absolute;
  text-align: center;
  letter-spacing: 4px;
  font-size: 12.8rem;
  font-weight: 600;
}
body .container .wrap ul.scrollView > li .bigText p:last-child {
  position: relative;
  z-index: 15;
}
body .container .wrap ul.scrollView > li:nth-child(1) {
  color: #0066ff;
  background-color: #f3f3f3;
}
body .container .wrap ul.scrollView > li:nth-child(1) .text h6 {
  color: #777;
}
body .container .wrap ul.scrollView > li:nth-child(1) img {
  position: fixed;
  width: 240px;
  top: 50%;
  left: 50%;
  display: block;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s ease;
  z-index: 10;
}
body .container .wrap ul.scrollView > li:nth-child(1) img.active {
  opacity: 0;
}
body .container .wrap ul.scrollView > li:nth-child(2) {
  background-color: #0066ff;
}
body .container .wrap ul.scrollView > li:nth-child(2) .bigText p {
  text-shadow: 1px 1px 5px grey;
}
body .container .wrap ul.scrollView > li:nth-child(3) {
  background-color: #007d00;
}
body .container .wrap ul.scrollView > li:nth-child(3) .bigText p {
  text-shadow: 1px 1px 5px grey;
}
body .container .wrap ul.scrollView > li:nth-child(4) {
  background-image: url("/img/bottom_bg.jpg");
  background-size: cover;
}
body .container .wrap ul.pageMark {
  right: 120px;
}
body .container .wrap ul.pageMark li {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 1px solid #0066ff;
  margin-bottom: 24px;
}
body .container .nav {
  position: fixed;
  top: 0;
  left: 100%;
  z-index: 100;
  background: url("/img/blue_bg.png");
  color: #fff;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  transition: all 0.8s ease;
}
body .container .nav .navHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 100px;
  margin-bottom: 50px;
}
body .container .nav .navHeader img {
  width: 200px;
}
body .container .nav .navHeader i {
  font-size: 2rem;
}
body .container .nav li {
  cursor: pointer;
  font-size: 3rem;
  padding: 28px 0 28px 280px;
  position: relative;
}
body .container .nav li:hover > a {
  border-bottom: 3px solid #fff;
}
body .container .nav li a {
  position: relative;
}
body .container .nav li a:before {
  content: "●";
  font-size: 1.2rem;
  position: absolute;
  top: 30%;
  left: -28px;
  padding-right: 8px;
}
body .container .nav.active {
  height: 100vh;
  left: 0%;
}

@media screen and (max-width: 1200px) {
  header,
  footer {
    padding: 30px 90px !important;
  }
  .bigText p {
    font-size: 9.2rem;
  }
}
@media screen and (max-width: 1000px) {
  header,
  footer {
    padding: 16px 24px !important;
  }
  header .logo img,
  footer .logo img {
    width: 120px !important;
  }
  .nav .navHeader {
    padding: 20px !important;
  }
  .nav .navHeader img {
    width: 120px !important;
  }
  .nav li {
    padding-left: 60px !important;
    font-size: 2rem !important;
  }
  .bigText p {
    font-size: 8rem;
  }
  .bigText + img {
    width: 120px !important;
  }
  .pageMark {
    display: none;
  }
  footer p {
    line-height: 1.1rem !important;
  }
  footer .sns {
    right: 30px !important;
  }
  footer .scrollUp {
    display: none;
  }
}
@media screen and (max-width: 700px) {
  header,
  footer {
    padding: 16px 24px !important;
  }
  .bigText p {
    font-size: 5.2rem;
  }
  footer .sns li i {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 500px) {
  header,
  footer {
    padding: 16px 24px !important;
  }
  .bigText p {
    font-size: 4rem;
  }
}