@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  height: 2000px;
  overflow-x: hidden;
}
body ul,
body li {
  margin: 0;
  padding: 0;
  list-style: none;
}
body a {
  text-decoration: none;
  color: inherit;
}
body .container {
  position: relative;
}
body .container .wrap header {
  z-index: 3;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 180px;
  box-sizing: border-box;
}
body .container .wrap header .logo img {
  cursor: pointer;
  width: 200px;
}
body .container .wrap header .menu img {
  cursor: pointer;
  width: 30px;
}
body .container .wrap ul {
  position: relative;
}
body .container .wrap ul.scrollView li {
  box-sizing: border-box;
  padding: 150px;
  height: 100vh;
  color: #fff;
  text-align: center;
}
body .container .wrap ul.scrollView li .text {
  padding-top: 20px;
  line-height: 2rem;
}
body .container .wrap ul.scrollView li .text p {
  letter-spacing: 2px;
  font-size: 1.6rem;
  font-weight: 700;
}
body .container .wrap ul.scrollView li .bigText {
  padding-top: 50px;
  letter-spacing: 4px;
  font-size: 12.8rem;
  font-weight: 600;
}
body .container .wrap ul.scrollView li .bigText p:last-child {
  position: relative;
  z-index: 10;
}
body .container .wrap ul.scrollView li:nth-child(1) {
  color: #0066ff;
  background-color: #f3f3f3;
}
body .container .wrap ul.scrollView li:nth-child(1) .text h6 {
  color: #777;
}
body .container .wrap ul.scrollView li:nth-child(1) img {
  position: fixed;
  width: 240px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
body .container .wrap ul.scrollView li:nth-child(1) img.active {
  animation: samdasooHide 2s;
}
@keyframes samdasooHide {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
body .container .wrap ul.scrollView li:nth-child(2) {
  background-color: #0066ff;
}
body .container .wrap ul.scrollView li:nth-child(2) .bigText p {
  text-shadow: 1px 1px 5px grey;
}
body .container .wrap ul.scrollView li:nth-child(3) {
  background-color: #007d00;
}
body .container .wrap ul.scrollView li:nth-child(3) .bigText p {
  text-shadow: 1px 1px 5px grey;
}
body .container .wrap ul.scrollView li:nth-child(4) {
  background-image: url("/img/bottom_bg.jpg");
  background-size: cover;
}
body .container .wrap ul.pageMark {
  position: fixed;
  top: 50%;
  right: 120px;
  transform: translateY(-50%);
}
body .container .wrap ul.pageMark li {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 1px solid #0066ff;
  margin-bottom: 24px;
}
body .container .wrap ul.pageMark li.active {
  background-color: #0066ff;
}
body .container .wrap footer {
  color: #fff;
  background-color: #111;
  padding: 50px 180px 120px 180px;
  position: relative;
}
body .container .wrap footer ul {
  display: flex;
  gap: 12px;
  padding: 20px 0;
}
body .container .wrap footer ul.sns {
  position: absolute;
  right: 180px;
  top: 50px;
}
body .container .wrap footer ul.sns li {
  font-weight: 700;
  font-size: 1.4rem;
}
body .container .wrap footer address,
body .container .wrap footer .copyright {
  font-size: 0.78rem;
  padding: 4px 0;
}
body .container .wrap footer .logo img {
  position: absolute;
  left: 50%;
  bottom: 32px;
  transform: translateX(-50%);
  width: 260px;
}
body .container .wrap footer .scrollUp {
  transform: rotate(270deg);
  letter-spacing: 2px;
  width: 120px;
  position: absolute;
  right: 50px;
  bottom: 72px;
  font-size: 0.9rem;
  animation: keyUp 2s infinite;
}
body .container .wrap footer .scrollUp img {
  position: absolute;
  top: 2px;
  right: -52px;
}
@keyframes keyUp {
  0% {
    bottom: 88px;
  }
  50% {
    bottom: 110px;
  }
  100% {
    bottom: 88px;
  }
}
body .container .nav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #0066ff;
  color: #fff;
  width: 100%;
  height: 100%;
  padding: 100px 50px;
  display: none;
}
body .container .nav li {
  cursor: pointer;
  font-size: 1.72rem;
  padding: 16px 0;
}
body .container .nav li:first-child {
  position: absolute;
  top: 12px;
  right: 124px;
}
body .container .nav li:first-child::before {
  content: "";
}
body .container .nav li:hover > a {
  border-bottom: 3px solid #fff;
}
body .container .nav li:before {
  content: "â—";
  font-size: 0.86rem;
  padding-right: 8px;
}