@charset "UTF-8";
.bgArea {
  background: url("/img/news_bg.png");
}

.pageMark {
  z-index: 12;
  color: #666;
  left: 32px;
}
.pageMark li {
  padding: 12px 0;
}
.pageMark li a {
  display: none;
}
.pageMark li a b {
  margin-right: 8px;
  color: #0066ff;
  font-weight: 600;
}
.pageMark li:after {
  content: "â—";
  color: #333;
}

.content {
  background-color: #fff !important;
}
.content .news {
  padding: 100px !important;
}
.content .news section article p {
  font-size: 1.2rem;
  padding-bottom: 8px;
}
.content .news section article p.imgBox {
  height: 400px;
  margin-bottom: 24px;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
}
.content .news section article b {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 900;
  padding: 4px 0;
}
.content .news section article .desc {
  line-height: 1.2rem;
  padding-top: 12px;
  font-size: 1rem;
}
.content .news:first-child .collaboArea {
  display: flex;
  gap: 40px;
  transition: all 0.5s ease-in-out;
}
.content .news:first-child .collaboArea section {
  width: 50%;
}
.content .news:first-child .collaboArea section article {
  padding-bottom: 50px;
}
.content .news:first-child .collaboArea section:first-child article:first-child .imgBox {
  background-image: url("/img/news_bugs.png");
}
.content .news:first-child .collaboArea section:first-child article:last-child .imgBox {
  background-image: url("/img/news_kakao.png");
}
.content .news:first-child .collaboArea section:last-child .imgBox {
  height: 1008px;
  background-image: url("/img/news_loopy.jpg");
}
.content .news:nth-child(2) {
  background-color: #eee;
}
.content .news:nth-child(2) .slide {
  padding-left: 500px;
  transition: all 0.5s ease;
}
.content .news:nth-child(2) .slide h3 {
  padding-bottom: 20px;
}
.content .news:nth-child(2) .slide .textWrap {
  display: flex;
  gap: 30px;
  padding-bottom: 20px;
  transition: all 0.5s ease-in-out;
}
.content .news:nth-child(2) .slide .textWrap > p {
  width: 600px;
  font-size: 0.96rem;
  line-height: 1.3rem;
  word-break: normal;
}
.content .news:nth-child(2) .slide .textWrap .infoWrap {
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  transition: all 0.5s ease-in-out;
}
.content .news:nth-child(2) .slide .textWrap .infoWrap p {
  width: 200px;
  font-size: 0.9rem;
}
.content .news:nth-child(2) .slide .textWrap .infoWrap p strong {
  box-sizing: border-box;
  background-color: #333;
  color: #fff;
  padding: 4px;
  margin-bottom: 8px;
  width: 160px;
  display: block;
}
.content .news:nth-child(2) .slide .imgWrap {
  height: 520px;
  border-top-left-radius: 100px;
  overflow: hidden;
}
.content .news:last-child section {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
.content .news:last-child section article {
  width: 48%;
}
.content .news:last-child section article .imgBox {
  border-radius: 70px 70px 0 0;
}
.content .news:last-child section article:first-child .imgBox {
  background: url("/img/news_01.jpg") center center/cover;
}
.content .news:last-child section article:nth-child(2) .imgBox {
  background: url("/img/news02.jpg") center center/cover;
}
.content .news:last-child section article:nth-child(3) .imgBox {
  background: url("/img/news03.jpg") center center/cover;
}
.content .news:last-child section article:last-child .imgBox {
  background: url("/img/news04.png") center center/cover;
}

@media screen and (max-width: 1600px) {
  .content .slide {
    padding-left: 200px !important;
  }
}
@media screen and (max-width: 1400px) {
  .content .slide {
    padding-left: 50px !important;
  }
}
@media screen and (max-width: 1200px) {
  .content .slide {
    padding-left: 0px !important;
  }
  .content .slide .textWrap > p {
    width: 440px !important;
  }
}
@media screen and (max-width: 1000px) {
  .pageMark {
    display: none;
  }
  .content {
    padding: 0 !important;
  }
  .content .news {
    padding: 50px 20px !important;
  }
  .content .news h2 {
    text-align: center;
    font-size: 1.6rem;
  }
  .content .news:first-child h4 {
    font-size: 1.2rem;
    text-align: center;
  }
  .content .news:first-child .collaboArea {
    display: block;
  }
  .content .news:first-child .collaboArea .leftArea,
  .content .news:first-child .collaboArea .rightArea {
    width: 100% !important;
  }
  .content .news:first-child .collaboArea .leftArea article,
  .content .news:first-child .collaboArea .rightArea article {
    padding-bottom: 20px !important;
  }
  .content .news:first-child .collaboArea .leftArea article p,
  .content .news:first-child .collaboArea .rightArea article p {
    font-size: 0.96rem !important;
  }
  .content .news:first-child .collaboArea .leftArea article p.imgBox,
  .content .news:first-child .collaboArea .rightArea article p.imgBox {
    margin-bottom: 30px !important;
  }
  .content .news:first-child .collaboArea .leftArea article b,
  .content .news:first-child .collaboArea .rightArea article b {
    font-size: 1.26rem !important;
  }
  .content .news:nth-child(2) .slide h3 {
    font-size: 1.1rem;
  }
  .content .news:nth-child(2) .slide .textWrap {
    flex-direction: column;
  }
  .content .news:nth-child(2) .slide .textWrap > p {
    font-size: 0.86rem;
    width: 100% !important;
  }
  .content .news:nth-child(2) .slide .textWrap .infoWrap {
    width: 100% !important;
    flex-wrap: nowrap;
    gap: 30px;
  }
  .content .news:nth-child(2) .slide .textWrap .infoWrap p {
    width: 22% !important;
  }
  .content .news:nth-child(2) .slide .imgWrap {
    border-top-left-radius: 50px;
    overflow: hidden;
  }
  .content .news:last-child section {
    display: block !important;
  }
  .content .news:last-child section article {
    width: 100%;
    padding-bottom: 20px;
  }
  .content .news:last-child section article .imgBox {
    height: 320px;
    border-radius: 50px 50px 0 0;
  }
  .content .news:last-child section article p {
    font-size: 0.96rem;
    padding-bottom: 4px;
  }
  .content .news:last-child section article p.desc {
    font-size: 0.8rem;
  }
  .content .news:last-child section article b {
    padding: 0;
    font-size: 1rem;
  }
}
@media screen and (max-width: 700px) {
  .content .news:first-child .collaboArea {
    display: block;
  }
  .content .news:first-child .collaboArea .leftArea,
  .content .news:first-child .collaboArea .rightArea {
    width: 100% !important;
  }
  .content .news:first-child .collaboArea .leftArea article,
  .content .news:first-child .collaboArea .rightArea article {
    padding-bottom: 20px !important;
  }
  .content .news:first-child .collaboArea .leftArea article p,
  .content .news:first-child .collaboArea .rightArea article p {
    font-size: 0.9rem !important;
    padding-bottom: 2px;
  }
  .content .news:first-child .collaboArea .leftArea article p.desc,
  .content .news:first-child .collaboArea .rightArea article p.desc {
    font-size: 0.8rem !important;
    padding-top: 8px;
  }
  .content .news:first-child .collaboArea .leftArea article b,
  .content .news:first-child .collaboArea .rightArea article b {
    font-weight: 900;
    font-size: 1rem !important;
  }
  .content .news:nth-child(2) {
    padding: 0 20px !important;
  }
  .content .news:nth-child(2) .slide .textWrap .infoWrap {
    width: 100% !important;
    flex-wrap: wrap !important;
  }
  .content .news:nth-child(2) .slide .textWrap .infoWrap p {
    width: 40% !important;
  }
  .content .news:nth-child(2) .slide .imgWrap {
    height: 360px;
    border-top-left-radius: 30px;
    overflow: hidden;
  }
}