@charset "UTF-8";
.bgArea {
  background: url("/img/news_bg.png");
}

.pageMark {
  z-index: 12;
  color: #666;
  left: 32px;
}
.pageMark li {
  padding: 12px 0;
}
.pageMark li a {
  display: none;
}
.pageMark li a b {
  margin-right: 8px;
  color: #0066ff;
  font-weight: 600;
}
.pageMark li:after {
  content: "â—";
  color: #333;
}

.content .news:first-child .collaboArea {
  display: flex;
  gap: 40px;
}
.content .news:first-child .collaboArea section {
  width: 50%;
}
.content .news:first-child .collaboArea section article {
  padding-bottom: 50px;
}
.content .news:first-child .collaboArea section article p {
  font-size: 1.4rem;
  font-weight: 500;
  padding: 4px 0;
}
.content .news:first-child .collaboArea section article p.img {
  height: 400px;
  overflow: hidden;
  background-size: cover;
  margin-bottom: 20px;
}
.content .news:first-child .collaboArea section article p.desc {
  font-size: 1rem;
  padding-top: 16px;
  line-height: 1.4rem;
}
.content .news:first-child .collaboArea section article b {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 900;
  padding: 4px 0;
}
.content .news:first-child .collaboArea section:first-child article:first-child .img {
  background-image: url("/img/news_bugs.png");
  background-position: center center;
}
.content .news:first-child .collaboArea section:first-child article:last-child .img {
  background-image: url("/img/news_kakao.png");
  background-position: center center;
}
.content .news:first-child .collaboArea section:last-child .img {
  height: 1008px;
  background-image: url("/img/news_loopy.jpg");
  background-position: center center;
}
.content .news:nth-child(2) {
  background-color: #eee;
}
.content .news:nth-child(2) .slide {
  padding-left: 30%;
}
.content .news:nth-child(2) .slide h3 {
  padding-bottom: 20px;
}
.content .news:nth-child(2) .slide .textWrap {
  display: flex;
  gap: 30px;
  padding-bottom: 20px;
}
.content .news:nth-child(2) .slide .textWrap > p {
  width: 600px;
  font-size: 0.96rem;
  line-height: 1.3rem;
  word-break: normal;
}
.content .news:nth-child(2) .slide .textWrap .infoWrap {
  width: 500px;
  display: flex;
  flex-wrap: wrap;
}
.content .news:nth-child(2) .slide .textWrap .infoWrap p {
  width: 200px;
  font-size: 0.9rem;
}
.content .news:nth-child(2) .slide .textWrap .infoWrap p strong {
  box-sizing: border-box;
  background-color: #333;
  color: #fff;
  padding: 4px;
  margin-bottom: 8px;
  width: 160px;
  display: block;
}
.content .news:nth-child(2) .slide .imgWrap {
  height: 520px;
  border-top-left-radius: 100px;
  overflow: hidden;
}
.content .news:last-child article {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
.content .news:last-child article section {
  width: 48%;
}
.content .news:last-child article section .imgBox {
  width: 100%;
  height: 300px;
  overflow: hidden;
  border-radius: 70px 70px 0 0;
  margin-bottom: 20px;
}
.content .news:last-child article section p {
  font-size: 1.2rem;
  padding-bottom: 8px;
}
.content .news:last-child article section b {
  font-size: 1.6rem;
  font-weight: 600;
}
.content .news:last-child article section h6 {
  line-height: 1.2rem;
  padding-top: 12px;
}
.content .news:last-child article section:first-child .imgBox {
  background: url("/img/news_01.jpg") center center/cover;
}
.content .news:last-child article section:nth-child(2) .imgBox {
  background: url("/img/news02.jpg") center center/cover;
}
.content .news:last-child article section:nth-child(3) .imgBox {
  background: url("/img/news03.jpg") center center/cover;
}
.content .news:last-child article section:last-child .imgBox {
  background: url("/img/news04.png") center center/cover;
}