@charset "UTF-8";
.wrap {
  position: relative;
}
.wrap .nav {
  width: 100%;
  padding: 50px 180px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  gap: 40px;
  z-index: 10;
}
.wrap .nav li {
  cursor: pointer;
  font-size: 1.1rem;
}
.wrap .nav li a {
  padding: 8px;
}
.wrap .nav li.logo {
  position: absolute;
  left: 180px;
}
.wrap .nav li.logo img {
  width: 200px;
}
.wrap .nav li:hover > a {
  font-weight: 700;
  border-bottom: 3px solid #0066ff;
}
.wrap .bgArea {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: url("/img/news_bg.png");
}
.wrap .bgArea .text {
  color: #fff;
  font-weight: 300;
  font-size: 6rem;
  position: absolute;
  top: 560px;
  left: 200px;
  letter-spacing: 1px;
  z-index: 10;
}
.wrap .bgArea:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #000;
  opacity: 0.2;
  z-index: 3;
}
.wrap .pageMark {
  z-index: 12;
  color: #666;
  left: 32px;
}
.wrap .pageMark li {
  padding: 12px 0;
}
.wrap .pageMark li a {
  display: none;
}
.wrap .pageMark li a b {
  margin-right: 8px;
  color: #0066ff;
  font-weight: 600;
}
.wrap .pageMark li:after {
  content: "●";
  color: #333;
}
.wrap .newsView {
  padding: 100px 0;
}
.wrap .newsView .news {
  padding: 0 200px 50px 200px;
}
.wrap .newsView .news .collaboArea {
  display: flex;
  gap: 80px;
}
.wrap .newsView .news .collaboArea section {
  width: 50%;
}
.wrap .newsView .news .collaboArea section article {
  padding-bottom: 50px;
}
.wrap .newsView .news .collaboArea section article p {
  font-size: 1.4rem;
  font-weight: 500;
  padding: 4px 0;
}
.wrap .newsView .news .collaboArea section article p.img {
  height: 400px;
  overflow: hidden;
  background-size: cover;
  margin-bottom: 20px;
}
.wrap .newsView .news .collaboArea section article p.desc {
  font-size: 1rem;
  padding-top: 16px;
  line-height: 1.4rem;
}
.wrap .newsView .news .collaboArea section article b {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 900;
  padding: 4px 0;
}
.wrap .newsView .news .collaboArea section:first-child article:first-child .img {
  background-image: url("/img/news_bugs.png");
  background-position: center center;
}
.wrap .newsView .news .collaboArea section:first-child article:last-child .img {
  background-image: url("/img/news_kakao.png");
  background-position: center center;
}
.wrap .newsView .news .collaboArea section:last-child .img {
  height: 1008px;
  background-image: url("/img/news_loopy.jpg");
  background-position: center center;
}
.wrap .newsView .news:nth-child(2) {
  background-color: #eee;
}