.bgArea {
  background: url("/img/product_bg.png");
}
.bgArea .text {
  top: 65% !important;
}

.content {
  background-color: #fff;
  text-align: center;
  padding-bottom: 0 !important;
}
.content h6 {
  color: #0066ff;
}
.content h6 + h1 {
  padding: 50px 0;
  line-height: 3.6rem;
}
.content h6 + h1 span {
  color: #0066ff;
}
.content h1 + p {
  line-height: 1.4rem;
}
.content .qrList {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.content .qrList li {
  width: 400px;
  text-align: center;
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content .qrList li a {
  display: block;
  border: 1px solid #ddd;
  border-radius: 20px;
  width: 120px;
  padding: 12px 26px;
  margin-top: 60px;
  line-height: 1.26rem;
  box-shadow: 1px 1px 10px lightgrey;
}
.content h3 span {
  color: #0066ff;
}
.content table {
  width: 60%;
  height: 220px;
  margin: 30px 20%;
}
.content table tr {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.content table tr:first-child {
  border-top: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
}
.content table tr th,
.content table tr td {
  vertical-align: middle;
}
.content table + p {
  padding: 12px 0;
}
.content .samdasooImg {
  padding-bottom: 50px;
  background: linear-gradient(to top, #f0f7ff 64%, transparent 50%);
}
.content .bottom_bg {
  background: url("/img/product_bg2.png") top center/cover;
  height: 300px;
  position: relative;
}
.content .bottom_bg h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  font-weight: 600;
  transform: translate(-50%, -50%);
  line-height: 3.2rem;
}
.content .bottom_bg h3 span {
  color: #0066ff;
}

@media screen and (max-width: 1200px) {
  .bgArea .text {
    font-size: 4.8rem !important;
  }
}
@media screen and (max-width: 1000px) {
  .bgArea .text {
    font-size: 3.6rem !important;
  }
}
@media screen and (max-width: 700px) {
  .bgArea .text {
    font-size: 4rem;
  }
}