.bgArea {
  background: url("/img/story_bg.jpg") no-repeat;
  background-size: cover;
}
.bgArea .text {
  top: 60% !important;
}
.bgArea .bgTextWrap {
  position: absolute;
  right: 100px;
  bottom: 100px;
  width: 600px;
  z-index: 20;
  line-height: 1.2rem;
  padding: 30px 0;
  word-wrap: wrap;
}
.bgArea .bgTextWrap img {
  width: 200px;
  padding-bottom: 12px;
}
.bgArea .bgTextWrap p {
  width: 600px;
  line-height: 1.4rem;
}

.storyView {
  background-color: #f2f2f2;
  padding: 100px 0;
}
.storyView h3 {
  font-weight: 500;
  text-align: center;
  margin-bottom: 50px;
}
.storyView .yearsWrap {
  padding: 0 180px;
}
.storyView .yearsWrap .years {
  display: flex;
  justify-content: center;
}
.storyView .yearsWrap .years li {
  text-align: center;
  padding: 16px;
  display: inline-block;
  width: 180px;
  font-weight: 600;
  font-size: 3rem;
  color: #ccc;
  cursor: pointer;
}
.storyView .yearsWrap .years li.active {
  z-index: 3;
  border-bottom: 2px solid #0066ff;
  color: #0066ff;
  border-color: #0066ff;
}
.storyView .yearsWrap .years:before {
  content: "";
  border: 1px solid #ccc;
  width: 100%;
  position: absolute;
  bottom: 0;
}
.storyView .yearsWrap .year {
  padding: 50px 0;
  position: relative;
  display: none;
}
.storyView .yearsWrap .year ul {
  display: flex;
  line-height: 1.6rem;
  margin: 0 auto;
  justify-content: center;
  padding: 8px;
}
.storyView .yearsWrap .year ul li {
  width: 500px;
}
.storyView .yearsWrap .year ul li dl dt {
  font-size: 1.6rem;
  font-weight: 600;
  padding-bottom: 12px;
}
.storyView .yearsWrap .year ul li dl dd {
  color: #777;
}
.storyView .yearsWrap .year ul li dl dd span {
  display: inline-block;
  width: 40px;
  color: #333;
}
.storyView .yearsWrap .year.active {
  display: block;
}
.storyView .brandEssenseWrap .brandEssense {
  display: flex;
}
.storyView .brandEssenseWrap .brandEssense .textWrap {
  color: #0066ff;
  width: 50%;
  height: 700px;
  text-align: center;
  padding: 80px;
  box-sizing: border-box;
  position: relative;
}
.storyView .brandEssenseWrap .brandEssense .textWrap p {
  animation: showDown 1s;
}
.storyView .brandEssenseWrap .brandEssense .textWrap p b {
  display: block;
  font-size: 1.8rem;
  font-weight: 300;
  padding: 12px 0;
}
.storyView .brandEssenseWrap .brandEssense .textWrap p:first-child {
  font-weight: 600;
}
.storyView .brandEssenseWrap .brandEssense .textWrap p:nth-child(3) {
  line-height: 1.6rem;
}
.storyView .brandEssenseWrap .brandEssense .textWrap h3 {
  padding: 100px 0;
}
.storyView .brandEssenseWrap .brandEssense .textWrap button {
  position: absolute;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
  padding: 8px 12px;
  border: 1px solid #fff;
  background-color: transparent;
  color: inherit;
  font-size: 1rem;
}
.storyView .brandEssenseWrap .brandEssense .bgWrap {
  width: 50%;
  box-sizing: border-box;
}
.storyView .brandEssenseWrap .brandEssense .bgWrap img {
  width: 100%;
}
.storyView .brandEssenseWrap .brandEssense:first-child .bgWrap {
  background: url("/img/story01.png");
}
.storyView .brandEssenseWrap .brandEssense:first-child .textWrap {
  background-color: #008100;
  color: #fff;
}
.storyView .brandEssenseWrap .brandEssense:nth-child(2) .bgWrap {
  background: url("/img/story02.png");
}
.storyView .brandEssenseWrap .brandEssense:nth-child(2) .textWrap {
  background-color: #0066ff;
  color: #fff;
}
.storyView .brandEssenseWrap .brandEssense:nth-child(3) .bgWrap {
  background: url("/img/story03.png");
}
.storyView .brandEssenseWrap .brandEssense:nth-child(3) .textWrap button {
  border-color: #0066ff;
}
.storyView .brandEssenseWrap .brandEssense:last-child .bgWrap {
  background: url("/img/story04.png");
}
.storyView .brandEssenseWrap .brandEssense:last-child .textWrap button {
  border-color: #0066ff;
}
.storyView .brandRoad {
  padding: 100px 150px;
}
.storyView .brandRoad h3 {
  padding: 50px 0;
}
.storyView .brandRoad .imgBox {
  position: relative;
  margin: 0 auto;
  max-width: 1440px;
}
.storyView .brandRoad .imgBox .stepText {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.storyView .brandRoad .imgBox .stepText li {
  line-height: 1.2rem;
  position: absolute;
}
.storyView .brandRoad .imgBox .stepText li strong {
  display: block;
  font-weight: 900;
  padding-bottom: 8px;
}
.storyView .brandRoad .imgBox .stepText li:first-child {
  top: 60px;
  right: 200px;
}
.storyView .brandRoad .imgBox .stepText li:nth-child(2) {
  top: 400px;
  right: 460px;
  text-align: right;
}
.storyView .brandRoad .imgBox .stepText li:nth-child(3) {
  top: 740px;
  left: 320px;
}
.storyView .brandRoad .imgBox .stepText li:nth-child(4) {
  top: 860px;
  right: 160px;
}
.storyView .brandRoad .imgBox .stepText li:nth-child(5) {
  bottom: 400px;
  right: 460px;
  text-align: right;
}
.storyView .brandRoad .imgBox .stepText li:last-child {
  bottom: 80px;
  left: 0px;
}

@media screen and (max-width: 1200px) {
  .bgArea .text {
    font-size: 4.2rem !important;
  }
}
@media screen and (max-width: 1000px) {
  .bgArea .text {
    font-size: 3rem !important;
    left: 100px !important;
    top: 42% !important;
  }
  .bgArea .bgTextWrap {
    font-size: 0.8rem !important;
    left: 100px !important;
  }
  .bgArea .bgTextWrap img {
    width: 120px !important;
  }
  .bgArea .bgTextWrap p {
    width: 400px;
  }
  .storyView .yearsWrap {
    padding: 0 40px;
  }
  .storyView .yearsWrap .years {
    width: 100%;
    justify-content: center;
  }
  .storyView .yearsWrap .years li {
    width: 80px;
    font-size: 1.6rem !important;
  }
}
@media screen and (max-width: 700px) {
  .bgArea .text {
    font-size: 4rem;
  }
}
@media screen and (max-width: 500px) {
  .bgArea .text {
    font-size: 4rem;
  }
}