body {
  margin: 0;
  font-family: Arial, sans-serif;
  height: 2000px;
  ul,
  li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .container {
    nav {
      position: fixed;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 50px 160px;
      box-sizing: border-box;
      .logo img {
        width: 200px;
      }
      .menu img {
        width: 30px;
      }
    }
    ul {
      li {
        box-sizing: border-box;
        padding: 150px;
        height: 100vh;
        color: #fff;
        text-align: center;
        .text {
          padding-top: 20px;
          line-height: 2rem;
          p {
            letter-spacing: 2px;
            font-size: 1.6rem;
            font-weight: 700;
          }
        }
        .bigText {
          padding-top: 50px;
          letter-spacing: 4px;
          font-size: 12.8rem;
          font-weight: 600;
          p {
            &:last-child {
              position: relative;
              z-index: 10;
            }
          }
        }
        &:nth-child(1) {
          color: #0066ff;
          background-color: #f3f3f3;
          .text h6 {
            color: #777;
          }
          img {
            position: fixed;
            width: 200px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
        &:nth-child(2) {
          background-color: #0066ff;
          .bigText p {
            text-shadow: 1px 1px 5px grey;
          }
        }
        &:nth-child(3) {
          background-color: #007d00;
          .bigText p {
            text-shadow: 1px 1px 5px grey;
          }
        }
        &:nth-child(4) {
          background-image: url("/img/bottom_bg.jpg");
          background-size: cover;
        }
      }
    }
  }
}
