.bgArea {
  background: url("/img/faq_bg.png");
}
.content {
  h1 {
    padding: 0 40px 40px 40px;
  }
  details {
    padding: 24px 0 24px 100px;
    font-size: 1.1rem;
    font-weight: 900;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    summary {
      cursor: default;
      list-style: none;
    }
    p {
      line-height: 1.6rem;
      border-top: 1px solid #777;
      border-bottom: 1px solid #777;
      font-size: 0.98rem;
      padding: 24px;
      color: #777;
      margin-top: 24px;
      font-weight: 500;
      b {
        display: block;
        font-weight: 900;
        color: #666;
        padding-bottom: 20px;
      }
    }
    &.active {
      summary {
        color: #0066ff;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .bgArea {
    .text {
      font-size: 4.8rem !important;
    }
  }
  .content {
    details {
      padding: 24px 0 24px 40px;
    }
  }
}
@media screen and (max-width: 1000px) {
  .bgArea {
    .text {
      font-size: 3rem !important;
    }
  }
  .content {
    padding: 80px 0 !important;
    h1 {
      text-align: center;
      font-size: 2rem;
    }
    details {
      padding: 24px 0 24px 40px;
      font-size: 1rem;
      p {
        font-size: 0.92rem;
      }
    }
  }
}
@media screen and (max-width: 700px) {
  .bgArea {
    .text {
      font-size: 3rem !important;
    }
  }
  .content {
    details {
      font-size: 0.96rem;
      p {
        font-size: 0.84rem;
      }
    }
  }
}
