.bgArea {
  background: url("/img/green_bg.png");
  .text {
    top: 65% !important;
  }
}
.content {
  > section {
    text-align: center;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    gap: 50px;
    h1 {
      line-height: 4rem;
      span {
        color: #0066ff;
      }
    }
    h5,
    h6,
    p {
      line-height: 1.4rem;
    }
    img {
      display: block;
      margin: 0 auto;
      padding-top: 80px;
    }
    img + h3 {
      padding-top: 30px;
      font-weight: 300;
      b {
        font-weight: 900;
      }
    }
    .miniTitle {
      color: #0066ff;
      font-weight: 600;
      letter-spacing: 1.6px;
    }
    &:nth-child(3) {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 30px;
      transition: all 0.5s ease-in-out;
      > article {
        width: 460px;
        border-radius: 30px;
        overflow: hidden;
        text-align: start;
        transition: display 0.8s ease;
        .imgBox {
          height: 400px;
          margin: 0 auto;
          background-size: cover;
        }
        .textBox {
          display: flex;
          flex-direction: column;
          gap: 20px;
          padding: 20px;
          background-color: #fff;
          line-height: 1.6rem;
          h3 {
            padding: 20px 0;
          }
          h5 {
            height: 80px;
          }
          .explore {
            padding: 10px;
            &:after {
              content: "→";
            }
          }
        }
        &:first-child .imgBox {
          background-image: url("/img/green_section_img01.jpg");
        }
        &:nth-child(2) .imgBox {
          background-image: url("/img/green_section_img02.jpg");
        }
        &:last-child .imgBox {
          background-image: url("/img/green_section_img03.jpg");
        }
      }
    }
  }
  .bgBox {
    text-align: center;
    background: url("/img/green_bg_02.png") center top/cover;
    background-repeat: no-repeat;
    height: auto;
    padding: 120px 0 360px 0;
    box-sizing: border-box;
    margin: 100px 0;
    transition: all 0.4s ease-in-out;
    h6 {
      margin-bottom: 40px;
      font-weight: 600;
      letter-spacing: 1.6px;
    }
    h6,
    h1 span {
      color: #247c17;
    }
    &.two {
      background-repeat: no-repeat;
      background: url("/img/green_bg_03.png");
      h6,
      h1 span {
        color: #0066ff;
      }
    }
  }
  .bgBox ~ article {
    width: 100%;
    display: flex;
    padding: 100px 0;
    .textWrap {
      position: relative;
      width: 600px;
      padding: 0 80px;
      h2 {
        padding-top: 30px;
        line-height: 3.6rem;
        font-weight: 900;
      }
      div {
        height: 3px;
        background-color: #247c17;
      }
      div + p {
        line-height: 2rem;
        font-size: 1.4rem;
        padding: 30px 0;
        b {
          font-weight: 900;
        }
      }
      button {
        position: absolute;
        bottom: 0;
        width: calc(100% - 160px);
        height: 50px;
        font-weight: 600;
        border: 2px solid #000;
        &:hover a {
          border-bottom: 2px solid #333;
        }
      }
    }
    .bg {
      overflow: hidden;
    }
  }
  .two ~ article .textWrap div {
    background-color: #0066ff;
  }
}
@media screen and (max-width: 1600px) {
  .content {
    .slide {
      padding-left: 200px !important;
    }
    section {
      &:nth-child(3) {
        padding: 60px;
      }
    }
  }
}
@media screen and (max-width: 1200px) {
  .content {
    .slide {
      padding-left: 0px !important;
      .textWrap {
        > p {
          width: 440px !important;
        }
      }
    }
    section {
      &:nth-child(3) {
        gap: 15px;
        padding: 100px 40px;
      }
    }
    .bgBox ~ article {
      .textWrap {
        padding: 0 30px;
        button {
          width: calc(100% - 60px);
        }
      }
    }
  }
}
@media screen and (max-width: 1000px) {
  .pageMark {
    display: none;
  }
  .content {
    padding: 0 !important;
    section {
      &:nth-child(3) {
        flex-direction: column;
        article {
          width: 100%;
          .explore {
            text-align: end;
          }
        }
      }
    }
    .bgBox {
      padding: 80px 0 300px 0;
      h6 {
        margin-bottom: 20px;
      }
    }
    .bgBox ~ article {
      display: block;
      position: relative;
      .bg {
        margin-bottom: 300px;
      }
      .textWrap {
        width: 100%;
        position: absolute;
        bottom: 0;
        box-sizing: border-box;
        h2,
        p {
          padding-bottom: 0;
          font-size: 1.1rem !important;
          line-height: 1.2rem !important;
        }
      }
    }
  }
}
