.bgArea {
  background: url("/img/green_bg.png");
  .text {
    top: 65% !important;
  }
}
.content {
  > section {
    text-align: center;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
    h1 {
      line-height: 3.6rem;
      span {
        color: #0066ff;
      }
    }
    h5,
    h6,
    p {
      line-height: 1.6rem;
    }
    img {
      display: block;
      margin: 0 auto;
      padding-top: 80px;
    }
    img + h3 {
      padding-top: 30px;
      font-weight: 300;
      b {
        font-weight: 900;
      }
    }
    &:nth-child(3) {
      display: flex;
      flex-direction: row;
      justify-content: center;
      border-radius: 10px;
      gap: 30px;

      > article {
        width: 480px;
        border-radius: 30px;
        overflow: hidden;
        text-align: start;
        .imgBox {
          height: 400px;
          margin: 0 auto;
          background-size: cover;
        }
        .textBox {
          display: flex;
          flex-direction: column;
          gap: 20px;
          padding: 30px;
          background-color: #fff;
          line-height: 1.6rem;
          h3 {
            padding: 20px 0;
          }
          .explore {
            padding: 20px 0;
            &:after {
              content: "→";
            }
          }
        }
        &:first-child .imgBox {
          background-image: url("/img/green_section_img01.jpg");
        }
        &:nth-child(2) .imgBox {
          background-image: url("/img/green_section_img02.jpg");
        }
        &:last-child .imgBox {
          background-image: url("/img/green_section_img03.jpg");
        }
      }
    }
  }
  .bgBox {
    text-align: center;
    background: url("/img/green_bg_02.png");
    background-repeat: no-repeat;
    height: 760px;
    padding-top: 100px;
    box-sizing: border-box;
    margin: 150px 0;
    h6 {
      margin-bottom: 20px;
      font-weight: 600;
    }
    h6,
    h1 span {
      color: #247c17;
    }
    &.two {
      background-repeat: no-repeat;
      background: url("/img/green_bg_03.png");
      h6,
      h1 span {
        color: #0066ff;
      }
    }
  }
  .bgBox ~ article {
    width: 100%;
    display: flex;
    padding: 100px 0;
    .textWrap {
      display: flex;
      flex-direction: column;
      position: relative;
      gap: 30px;
      width: 600px;
      padding: 0 80px;
      h2 {
        line-height: 3.6rem;
        font-weight: 900;
      }
      div {
        height: 3px;
        background-color: #247c17;
      }
      div + p {
        line-height: 2rem;
        font-size: 1.4rem;
        b {
          font-weight: 900;
        }
      }
      button {
        position: absolute;
        bottom: 0;
        width: calc(100% - 160px);
        height: 50px;
        font-weight: 600;
        border: 2px solid #000;
        &:hover a {
          border-bottom: 2px solid #333;
        }
      }
    }
    .bg {
      overflow: hidden;
    }
  }
  .two ~ article .textWrap div {
    background-color: #0066ff;
  }
}

@media screen and (max-width: 1200px) {
  .bgArea {
    .text {
      font-size: 4.2rem !important;
    }
  }
  .content {
    .brandRoad {
      padding: 100px 100px;
      img {
        width: 100%;
      }
    }
    .stepText li {
      font-size: 0.9rem;
    }
  }
}
@media screen and (max-width: 1000px) {
  .bgArea {
    .text {
      font-size: 3rem !important;
      left: 100px !important;
      top: 42% !important;
    }
    .bgTextWrap {
      font-size: 0.8rem !important;
      left: 100px !important;
      img {
        width: 120px !important;
      }
      p {
        width: 400px;
      }
    }
  }
  .content {
    .yearsWrap {
      padding: 0 40px;
      .years {
        width: 100%;
        justify-content: center;
        li {
          width: 80px;
          font-size: 1.6rem !important;
        }
      }
    }
    .brandEssense {
      position: relative;
      width: 100%;
      height: 100vh;
      .textWrap {
        width: 100% !important;
        text-align: center;
        position: absolute !important;
        background-color: transparent !important;
      }
      .bgWrap {
        width: 100% !important;
      }
      &:nth-child(3) .textWrap,
      &:nth-child(4) .textWrap,
      &:nth-child(3) .textWrap button,
      &:nth-child(4) .textWrap button {
        border-color: #fff !important;
        color: #fff !important;
      }
    }
    .brandRoad {
      padding: 50px;
      img {
        width: 100%;
      }
      .stepText li {
        font-size: 0.9rem;
      }
    }
  }
}
@media screen and (max-width: 700px) {
  .bgArea {
    .text {
      font-size: 4rem;
    }
  }
  .content {
  }
}
@media screen and (max-width: 500px) {
  .bgArea {
    .text {
    }
  }
  .content {
  }
}
