body {
  .container {
    .wrap {
      header {
        z-index: 3;
        position: fixed;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 50px 180px;
        box-sizing: border-box;
        transition: all 0.8s ease;
        .logo img {
          cursor: pointer;
          width: 200px;
        }
        .menu img {
          cursor: pointer;
          width: 30px;
        }
      }
      ul {
        &.scrollView > li {
          padding: 150px 0;
          height: 100vh;
          color: #fff;
          text-align: center;
          position: relative;
          .text {
            padding-top: 20px;
            line-height: 2rem;
            opacity: 0;
            transition: opacity 0.5s ease;
            margin-bottom: 30px;
            p {
              letter-spacing: 2px;
              font-size: 1.6rem;
              font-weight: 700;
            }
            &.active {
              opacity: 1;
            }
          }
          .bigText {
            width: 100%;
            position: absolute;
            text-align: center;
            letter-spacing: 4px;
            font-size: 12.8rem;
            font-weight: 600;
            p {
              &:last-child {
                position: relative;
                z-index: 15;
              }
            }
          }
          &:nth-child(1) {
            color: #0066ff;
            background-color: #f3f3f3;

            .text h6 {
              color: #777;
            }
            img {
              position: fixed;
              width: 240px;
              top: 50%;
              left: 50%;
              display: block;
              transform: translate(-50%, -50%);
              transition: opacity 0.3s ease;
              z-index: 10;
              &.active {
                opacity: 0;
              }
            }
          }
          &:nth-child(2) {
            background-color: #0066ff;
            .bigText p {
              text-shadow: 1px 1px 5px grey;
            }
          }
          &:nth-child(3) {
            background-color: #007d00;
            .bigText p {
              text-shadow: 1px 1px 5px grey;
            }
          }
          &:nth-child(4) {
            background-image: url("/img/bottom_bg.jpg");
            background-size: cover;
          }
        }
        &.pageMark {
          right: 120px;
          li {
            width: 14px;
            height: 14px;
            border-radius: 50%;
            border: 1px solid #0066ff;
            margin-bottom: 24px;
          }
        }
      }
    }
    .nav {
      position: fixed;
      top: 0;
      left: 100%;
      z-index: 100;
      background: url("/img/blue_bg.png");
      color: #fff;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      transition: all 0.8s ease;
      .navHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 50px 100px;
        margin-bottom: 50px;
        img {
          width: 200px;
        }
        i {
          font-size: 2rem;
        }
      }
      li {
        cursor: pointer;
        font-size: 3rem;
        padding: 28px 0 28px 280px;
        position: relative;

        &:hover > a {
          border-bottom: 3px solid #fff;
        }
        a {
          position: relative;
          &:before {
            content: "●";
            font-size: 1.2rem;
            position: absolute;
            top: 30%;
            left: -28px;
            padding-right: 8px;
          }
        }
      }
      &.active {
        height: 100vh;
        left: 0%;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  header,
  footer {
    padding: 30px 90px !important;
  }
  .bigText p {
    font-size: 9.2rem;
  }
}
@media screen and (max-width: 1000px) {
  header,
  footer {
    padding: 16px 24px !important;
    .logo img {
      width: 120px !important;
    }
  }
  .nav {
    .navHeader {
      padding: 20px !important;
      img {
        width: 120px !important;
      }
    }
    li {
      padding-left: 60px !important;
      font-size: 2rem !important;
    }
  }
  .bigText {
    p {
      font-size: 8rem;
    }
    & + img {
      width: 120px !important;
    }
  }

  .pageMark {
    display: none;
  }
  footer {
    p {
      line-height: 1.1rem !important;
    }
    .sns {
      right: 30px !important;
    }
    .scrollUp {
      display: none;
    }
  }
}
@media screen and (max-width: 700px) {
  header,
  footer {
    padding: 16px 24px !important;
  }
  .bigText p {
    font-size: 5.2rem;
  }
  footer .sns li i {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 500px) {
  header,
  footer {
    padding: 16px 24px !important;
  }
  .bigText p {
    font-size: 4rem;
  }
}
