.wrap {
  position: relative;
  .nav {
    width: 100%;
    padding: 50px 180px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    gap: 40px;
    z-index: 10;
    li {
      cursor: pointer;
      font-size: 1.1rem;
      a {
        padding: 8px;
      }
      &.logo {
        position: absolute;
        left: 180px;

        img {
          width: 200px;
        }
      }
      &:hover > a {
        font-weight: 700;
        border-bottom: 3px solid #0066ff;
      }
    }
  }
  .bgArea {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: url("/img/news_bg.png");
    .text {
      color: #fff;
      font-weight: 300;
      font-size: 6rem;
      position: absolute;
      top: 560px;
      left: 200px;
      letter-spacing: 1px;
      z-index: 10;
    }
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background-color: #000;
      opacity: 0.2;
      z-index: 3;
    }
  }
  .pageMark {
    z-index: 12;
    color: #666;
    left: 32px;
    li {
      padding: 12px 0;
      a {
        display: none;
        b {
          margin-right: 8px;
          color: #0066ff;
          font-weight: 600;
        }
      }
      &:after {
        content: "●";
        color: #333;
      }
    }
  }
  .newsView {
    padding: 100px 0;
    .news {
      padding: 0 200px 50px 200px;
      .collaboArea {
        display: flex;
        gap: 80px;
        section {
          width: 50%;
          article {
            padding-bottom: 50px;
            p {
              font-size: 1.4rem;
              font-weight: 500;
              padding: 4px 0;

              &.img {
                height: 400px;
                overflow: hidden;
                background-size: cover;
                margin-bottom: 20px;
              }
              &.desc {
                font-size: 1rem;
                padding-top: 16px;
                line-height: 1.4rem;
              }
            }
            b {
              display: inline-block;
              font-size: 1.6rem;
              font-weight: 900;
              padding: 4px 0;
            }
          }
          &:first-child {
            article {
              &:first-child {
                .img {
                  background-image: url("/img/news_bugs.png");
                  background-position: center center;
                }
              }
              &:last-child {
                .img {
                  background-image: url("/img/news_kakao.png");
                  background-position: center center;
                }
              }
            }
          }
          &:last-child {
            .img {
              height: 1008px;
              background-image: url("/img/news_loopy.jpg");
              background-position: center center;
            }
          }
        }
      }
      &:nth-child(2) {
        background-color: #eee;
      }
    }
  }
}
