.bgArea {
  background: url("/img/news_bg.png");
}
.pageMark {
  z-index: 12;
  color: #666;
  left: 32px;
  li {
    padding: 12px 0;
    a {
      display: none;
      b {
        margin-right: 8px;
        color: #0066ff;
        font-weight: 600;
      }
    }
    &:after {
      content: "â—";
      color: #333;
    }
  }
}
.content {
  background-color: #fff !important;
  .news {
    padding: 100px !important;
    section {
      article {
        p {
          font-size: 1.2rem;
          padding-bottom: 8px;
          &.imgBox {
            height: 400px;
            margin-bottom: 24px;
            overflow: hidden;
            background-size: cover;
            background-position: center center;
          }
        }
        b {
          display: inline-block;
          font-size: 1.6rem;
          font-weight: 900;
          padding: 4px 0;
        }
        .desc {
          line-height: 1.2rem;
          padding-top: 12px;
          font-size: 1rem;
        }
      }
    }

    &:first-child {
      .collaboArea {
        display: flex;
        gap: 40px;
        transition: all 0.5s ease-in-out;
        section {
          width: 50%;
          article {
            padding-bottom: 50px;
          }
          &:first-child {
            article {
              &:first-child {
                .imgBox {
                  background-image: url("/img/news_bugs.png");
                }
              }
              &:last-child {
                .imgBox {
                  background-image: url("/img/news_kakao.png");
                }
              }
            }
          }
          &:last-child {
            .imgBox {
              height: 1008px;
              background-image: url("/img/news_loopy.jpg");
            }
          }
        }
      }
    }
    &:nth-child(2) {
      background-color: #eee;
      .slide {
        padding-left: 500px;
        transition: all 0.5s ease;
        h3 {
          padding-bottom: 20px;
        }
        .textWrap {
          display: flex;
          gap: 30px;
          padding-bottom: 20px;
          transition: all 0.5s ease-in-out;
          > p {
            width: 600px;
            font-size: 0.96rem;
            line-height: 1.3rem;
            word-break: normal;
          }
          .infoWrap {
            width: 500px;
            display: flex;
            flex-wrap: wrap;
            transition: all 0.5s ease-in-out;
            p {
              width: 200px;
              font-size: 0.9rem;

              strong {
                box-sizing: border-box;
                background-color: #333;
                color: #fff;
                padding: 4px;
                margin-bottom: 8px;
                width: 160px;
                display: block;
              }
            }
          }
        }
        .imgWrap {
          height: 520px;
          border-top-left-radius: 100px;
          overflow: hidden;
        }
      }
    }
    &:last-child {
      section {
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
        article {
          width: 48%;
          .imgBox {
            border-radius: 70px 70px 0 0;
          }

          &:first-child .imgBox {
            background: url("/img/news_01.jpg") center center / cover;
          }
          &:nth-child(2) .imgBox {
            background: url("/img/news02.jpg") center center / cover;
          }
          &:nth-child(3) .imgBox {
            background: url("/img/news03.jpg") center center / cover;
          }
          &:last-child .imgBox {
            background: url("/img/news04.png") center center / cover;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1600px) {
  .content {
    .slide {
      padding-left: 200px !important;
    }
  }
}
@media screen and (max-width: 1400px) {
  .content {
    .slide {
      padding-left: 50px !important;
    }
  }
}
@media screen and (max-width: 1200px) {
  .content {
    .slide {
      padding-left: 0px !important;
      .textWrap {
        > p {
          width: 440px !important;
        }
      }
    }
  }
}
@media screen and (max-width: 1000px) {
  .pageMark {
    display: none;
  }
  .content {
    padding: 0 !important;
    .news {
      padding: 50px 20px !important;
      h2 {
        text-align: center;
        font-size: 1.6rem;
      }
      &:first-child {
        h4 {
          font-size: 1.2rem;
          text-align: center;
        }
        .collaboArea {
          display: block;
          .leftArea,
          .rightArea {
            width: 100% !important;
            article {
              padding-bottom: 20px !important;
              p {
                font-size: 0.96rem !important;
                &.imgBox {
                  margin-bottom: 30px !important;
                }
              }
              b {
                font-size: 1.26rem !important;
              }
            }
          }
        }
      }
      &:nth-child(2) {
        .slide {
          h3 {
            font-size: 1.1rem;
          }
          .textWrap {
            flex-direction: column;
            > p {
              font-size: 0.86rem;
              width: 100% !important;
            }
            .infoWrap {
              width: 100% !important;
              flex-wrap: nowrap;
              gap: 30px;
              p {
                width: 22% !important;
              }
            }
          }
          .imgWrap {
            border-top-left-radius: 50px;
            overflow: hidden;
          }
        }
      }
      &:last-child {
        section {
          display: block !important;
          article {
            width: 100%;
            padding-bottom: 20px;
            .imgBox {
              height: 320px;
              border-radius: 50px 50px 0 0;
            }
            p {
              font-size: 0.96rem;
              padding-bottom: 4px;
              &.desc {
                font-size: 0.8rem;
              }
            }
            b {
              padding: 0;
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 700px) {
  .content {
    .news {
      &:first-child {
        .collaboArea {
          display: block;
          .leftArea,
          .rightArea {
            width: 100% !important;
            article {
              padding-bottom: 20px !important;
              p {
                font-size: 0.9rem !important;
                padding-bottom: 2px;
                &.desc {
                  font-size: 0.8rem !important;
                  padding-top: 8px;
                }
              }
              b {
                font-weight: 900;
                font-size: 1rem !important;
              }
            }
          }
        }
      }
      &:nth-child(2) {
        padding: 0 20px !important;

        .slide {
          .textWrap {
            .infoWrap {
              width: 100% !important;
              flex-wrap: wrap !important;
              p {
                width: 40% !important;
              }
            }
          }
          .imgWrap {
            height: 360px;
            border-top-left-radius: 30px;
            overflow: hidden;
          }
        }
      }
      &:last-child {
      }
    }
  }
}
