.bgArea {
  background: url("/img/news_bg.png");
}
.pageMark {
  z-index: 12;
  color: #666;
  left: 32px;
  li {
    padding: 12px 0;
    a {
      display: none;
      b {
        margin-right: 8px;
        color: #0066ff;
        font-weight: 600;
      }
    }
    &:after {
      content: "â—";
      color: #333;
    }
  }
}
.content {
  .news {
    &:first-child {
      .collaboArea {
        display: flex;
        gap: 40px;
        section {
          width: 50%;
          article {
            padding-bottom: 50px;
            p {
              font-size: 1.4rem;
              font-weight: 500;
              padding: 4px 0;

              &.img {
                height: 400px;
                overflow: hidden;
                background-size: cover;
                margin-bottom: 20px;
              }
              &.desc {
                font-size: 1rem;
                padding-top: 16px;
                line-height: 1.4rem;
              }
            }
            b {
              display: inline-block;
              font-size: 1.6rem;
              font-weight: 900;
              padding: 4px 0;
            }
          }
          &:first-child {
            article {
              &:first-child {
                .img {
                  background-image: url("/img/news_bugs.png");
                  background-position: center center;
                }
              }
              &:last-child {
                .img {
                  background-image: url("/img/news_kakao.png");
                  background-position: center center;
                }
              }
            }
          }
          &:last-child {
            .img {
              height: 1008px;
              background-image: url("/img/news_loopy.jpg");
              background-position: center center;
            }
          }
        }
      }
    }
    &:nth-child(2) {
      background-color: #eee;
      .slide {
        padding-left: 30%;
        h3 {
          padding-bottom: 20px;
        }
        .textWrap {
          display: flex;
          gap: 30px;
          padding-bottom: 20px;
          > p {
            width: 600px;
            font-size: 0.96rem;
            line-height: 1.3rem;
            word-break: normal;
          }
          .infoWrap {
            width: 500px;
            display: flex;
            flex-wrap: wrap;
            p {
              width: 200px;
              font-size: 0.9rem;

              strong {
                box-sizing: border-box;
                background-color: #333;
                color: #fff;
                padding: 4px;
                margin-bottom: 8px;
                width: 160px;
                display: block;
              }
            }
          }
        }
        .imgWrap {
          height: 520px;
          border-top-left-radius: 100px;
          overflow: hidden;
        }
      }
    }
    &:last-child {
      article {
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
        section {
          width: 48%;
          .imgBox {
            width: 100%;
            height: 300px;
            overflow: hidden;
            border-radius: 70px 70px 0 0;
            margin-bottom: 20px;
          }
          p {
            font-size: 1.2rem;
            padding-bottom: 8px;
          }
          b {
            font-size: 1.6rem;
            font-weight: 600;
          }
          h6 {
            line-height: 1.2rem;
            padding-top: 12px;
          }
          &:first-child .imgBox {
            background: url("/img/news_01.jpg") center center / cover;
          }
          &:nth-child(2) .imgBox {
            background: url("/img/news02.jpg") center center / cover;
          }
          &:nth-child(3) .imgBox {
            background: url("/img/news03.jpg") center center / cover;
          }
          &:last-child .imgBox {
            background: url("/img/news04.png") center center / cover;
          }
        }
      }
    }
  }
}
