.bgArea {
  background: url("/img/story_bg.jpg") no-repeat;
  background-size: cover;
  .text {
    top: 60% !important;
  }
  .bgTextWrap {
    position: absolute;
    right: 100px;
    bottom: 100px;
    width: 600px;
    z-index: 20;
    line-height: 1.2rem;
    padding: 30px 0;
    word-wrap: wrap;
    transition: all 1s ease-in-out;
    img {
      width: 200px;
      padding-bottom: 12px;
    }
    p {
      width: 600px;
      line-height: 1.4rem;
    }
  }
}
.content {
  h3 {
    font-weight: 500;
    text-align: center;
    margin-bottom: 50px;
  }
  .yearsWrap {
    padding: 0 180px;
    .years {
      display: flex;
      justify-content: center;
      li {
        text-align: center;
        padding: 16px;
        display: inline-block;
        width: 180px;
        font-weight: 600;
        font-size: 3rem;
        color: #ccc;
        cursor: pointer;
        &.active {
          z-index: 3;
          border-bottom: 2px solid #0066ff;
          color: #0066ff;
          border-color: #0066ff;
        }
      }
      &:before {
        content: "";
        border: 1px solid #ccc;
        width: 100%;
        position: absolute;
        bottom: 0;
      }
    }
    .year {
      padding: 80px 0;
      position: relative;
      display: none;
      margin-bottom: 60px;
      ul {
        display: flex;
        line-height: 1.6rem;
        margin: 0 auto;
        justify-content: center;
        padding: 8px;

        li {
          width: 500px;
          dl {
            dt {
              font-size: 2rem;
              font-weight: 600;
              padding-bottom: 20px;
            }
            dd {
              padding: 4px 0;
              color: #777;
              span {
                display: inline-block;
                width: 40px;
                color: #333;
                font-weight: 600;
              }
            }
          }
        }
      }
      &.active {
        display: block;
      }
    }
  }
  .brandEssenseWrap {
    .brandEssense {
      display: flex;
      .textWrap {
        color: #0066ff;
        width: 50%;
        height: 700px;
        text-align: center;
        padding: 80px;
        box-sizing: border-box;
        position: relative;
        p {
          b {
            display: block;
            font-size: 1.8rem;
            font-weight: 300;
            padding: 12px 0;
          }
          &:first-child {
            font-weight: 600;
          }
          &:nth-child(3) {
            line-height: 1.6rem;
          }
          animation: showDown 1s;
        }
        h3 {
          padding: 100px 0;
        }
        button {
          position: absolute;
          bottom: 80px;
          left: 50%;
          transform: translateX(-50%);
          padding: 8px 12px;
          border: 1px solid #fff;
          background-color: transparent;
          color: inherit;
          font-size: 1rem;
        }
      }
      .bgWrap {
        width: 50%;
        box-sizing: border-box;
        &:after {
          content: "";
          background: rgba(0, 0, 0, 0.2);
          z-index: 1;
          width: 100%;
          height: 100%;
          display: block;
        }
      }
      &:first-child {
        .bgWrap {
          background: url("/img/story01.png") no-repeat;
          background-size: cover;
        }
        .textWrap {
          background-color: #008100;
          color: #fff;
        }
      }

      &:nth-child(2) {
        .bgWrap {
          background: url("/img/story02.png") no-repeat;
          background-size: cover;
        }
        .textWrap {
          background-color: #0066ff;
          color: #fff;
        }
      }

      &:nth-child(3) {
        .bgWrap {
          background: url("/img/story03.png") no-repeat;
          background-size: cover;
        }
        .textWrap button {
          border-color: #0066ff;
        }
      }

      &:last-child {
        .bgWrap {
          background: url("/img/story04.png") no-repeat;
          background-size: cover;
        }
        .textWrap button {
          border-color: #0066ff;
        }
      }
    }
  }
  .brandRoad {
    padding: 100px 150px;
    h3 {
      padding: 50px 0;
    }
    .imgBox {
      position: relative;
      margin: 0 auto;
      max-width: 1440px;
      img {
        margin: 0 auto;
      }
      .stepText {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        li {
          line-height: 1.2rem;
          position: absolute;
          strong {
            display: block;
            font-weight: 900;
            padding-bottom: 8px;
          }
          &:first-child {
            top: 60px;
            right: 200px;
          }
          &:nth-child(2) {
            top: 400px;
            right: 460px;
            text-align: right;
          }
          &:nth-child(3) {
            top: 740px;
            left: 320px;
          }
          &:nth-child(4) {
            top: 860px;
            right: 160px;
          }
          &:nth-child(5) {
            bottom: 400px;
            right: 460px;
            text-align: right;
          }
          &:last-child {
            bottom: 80px;
            left: 000px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .content {
    .brandRoad {
      padding: 100px 100px;
      img {
        width: 100%;
      }
    }
    .stepText li {
      font-size: 0.9rem;
    }
  }
}
@media screen and (max-width: 1000px) {
  .bgArea {
    .bgTextWrap {
      font-size: 0.8rem !important;
      left: 100px !important;
      img {
        width: 120px !important;
      }
      p {
        width: 400px;
      }
    }
  }
  .content {
    .yearsWrap {
      padding: 0 40px;
      .years {
        width: 100%;
        justify-content: center;
        li {
          width: 80px;
          font-size: 1.6rem !important;
        }
      }
    }
    .brandEssense {
      position: relative;
      width: 100%;
      height: 100vh;
      .textWrap {
        width: 100% !important;
        text-align: center;
        position: absolute !important;
        background-color: transparent !important;
      }
      .bgWrap {
        width: 100% !important;
      }
      &:nth-child(3) .textWrap,
      &:nth-child(4) .textWrap,
      &:nth-child(3) .textWrap button,
      &:nth-child(4) .textWrap button {
        border-color: #fff !important;
        color: #fff !important;
      }
    }
    .brandRoad {
      padding: 50px;
      img {
        width: 100%;
      }
      .stepText li {
        font-size: 0.9rem;
      }
    }
  }
}
@media screen and (max-width: 700px) {
  .bgArea {
    .bgTextWrap {
      left: 50px !important;
      img {
        width: 120px !important;
      }
      p {
        width: 400px;
      }
    }
  }
  .content {
    .brandRoad {
      padding: 20px;
    }
  }
}
@media screen and (max-width: 500px) {
  .content {
    .brandRoad {
      padding: 0;
    }
  }
}
