.bgArea {
  background: url("/img/story_bg.jpg") no-repeat;
  background-size: cover;
  .text {
    top: 65% !important;
  }
  .bgTextWrap {
    position: absolute;
    right: 100px;
    bottom: 100px;
    width: 300px;
    z-index: 20;
    line-height: 1.2rem;
    padding: 30px 0;
    word-wrap: wrap;
    img {
      width: 200px;
    }
  }
}
.storyView {
  background-color: #f2f2f2;
  padding: 100px 0;
  h3 {
    font-weight: 500;
    text-align: center;
    margin-bottom: 50px;
  }
  .yearsWrap {
    padding: 0 180px;
    .years {
      display: flex;
      justify-content: center;
      li {
        text-align: center;
        a {
          padding: 8px 16px;
          display: inline-block;
          width: 120px;
          font-size: 1.6rem;
          border-bottom: 2px solid #ccc;
        }
      }
    }
    .year ul {
      display: flex;
      dt {
        font-size: 1.6rem;
        font-weight: 600;
        padding-bottom: 12px;
        dd {
        }
      }
    }
  }
  .brandEssenseWrap {
    .brandEssense {
      display: flex;
      .textWrap {
        color: #0066ff;
        width: 50%;
        height: 700px;
        text-align: center;
        padding: 80px;
        box-sizing: border-box;
        position: relative;
        p {
          b {
            display: block;
            font-size: 1.8rem;
            font-weight: 300;
            padding: 12px 0;
          }
          &:first-child {
            font-weight: 600;
          }
          &:nth-child(3) {
            line-height: 1.6rem;
          }
        }
        h3 {
          padding: 100px 0;
        }
        button {
          position: absolute;
          bottom: 80px;
          left: 50%;
          transform: translateX(-50%);
          padding: 8px 12px;
          border: 1px solid #fff;
          background-color: transparent;
          color: inherit;
          font-size: 1rem;
        }
      }
      .bgWrap {
        width: 50%;
        box-sizing: border-box;
        img {
          width: 100%;
        }
      }
      &:first-child {
        .bgWrap {
          background: url("/img/story01.png");
        }
        .textWrap {
          background-color: #008100;
          color: #fff;
        }
      }

      &:nth-child(2) {
        .bgWrap {
          background: url("/img/story02.png");
        }
        .textWrap {
          background-color: #0066ff;
          color: #fff;
        }
      }

      &:nth-child(3) {
        .bgWrap {
          background: url("/img/story03.png");
        }
        .textWrap button {
          border-color: #0066ff;
        }
      }

      &:last-child {
        .bgWrap {
          background: url("/img/story04.png");
        }
        .textWrap button {
          border-color: #0066ff;
        }
      }
    }
  }
  .brandRoad {
    padding: 100px 150px;
    h3 {
      padding: 50px 0;
    }
    .imgBox {
      position: relative;
      margin: 0 auto;
      max-width: 1440px;
      .stepText {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        li {
          line-height: 1.2rem;
          position: absolute;
          strong {
            display: block;
            font-weight: 900;
            padding-bottom: 8px;
          }
          &:first-child {
            top: 60px;
            right: 200px;
          }
          &:nth-child(2) {
            top: 400px;
            right: 460px;
            text-align: right;
          }
          &:nth-child(3) {
            top: 740px;
            left: 320px;
          }
          &:nth-child(4) {
            top: 860px;
            right: 160px;
          }
          &:nth-child(5) {
            bottom: 400px;
            right: 460px;
            text-align: right;
          }
          &:last-child {
            bottom: 80px;
            left: 000px;
          }
        }
      }
    }
  }
}
